<!-- <app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-md-6">
      <app-recipe-details></app-recipe-details>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div> -->


<!--Experiment-->
<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBluePrintAdded($event)"></app-cockpit>
  <div class="row">
    <div class="col-sm-12">
      <app-server-element [srvElement]="serverElements" *ngFor="let serverElements of serverElements">
        <p>
          <strong *ngIf="serverElements.type === 'server'" style="color: red;">{{serverElements.content}}</strong>
          <em *ngIf="serverElements.type === 'blueprint'">{{serverElements.content}}</em>
      </p>
      </app-server-element>
    </div>
</div>
</div>
<!--@end experiment-->