<ng-template appPlaceholder></ng-template>
<div class="row">
    <div class="col-sm-12">
        <!-- <div class="alert alert-danger" *ngIf="isError">
            <p>{{isError}}</p>
        </div> -->
        <!-- <app-alert [message]="isError" *ngIf="isError" (close)="closeAlert()"></app-alert> -->
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loding-spinner></app-loding-spinner>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" value="deepak@gmail.com" class="form-control" id="email" required ngModel name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" value="1234567" class="form-control" id="password" required ngModel name="password" min="6">
            </div>
            <div>
                <button [disabled]="!authForm.valid" class="btn btn-primary mr-5" type="submit">{{isLoginMode ? 'Login' : 'Sign Up'}}</button>
                <button class="btn btn-primary" type="button" (click)="onSwitchMode()">Switch to {{isLoginMode ? 'Sign Up': 'Login'}}</button>
            </div>
            <div>
            </div>
        </form>
    </div>
</div>